/* Navbar.css */

.container-fluid {
    display: flex;
  }
  
  .col-auto {
    width: 250px; /* تحديد عرض النافبار الجانبي */
    background-color: #333;
    color: white;
  }
  
  .nav-link {
    color: white;
  }
  
  .nav-link:hover {
    background-color: #444;
  }
  
  .nav-pills {
    padding: 10px;
  }
  
  .collapse {
    list-style: none;
    padding-left: 0;
  }
  
  .collapse .nav-link {
    padding: 5px 10px;
  }
  
  .collapse .nav-link:hover {
    background-color: #555;
  }
  